.idea/


*.csv
*.log
*.log.*
*.json
# if some file should not be ignored then use: !file_name.extension Where .extension is ignored

*#*
*.class
*.sql
*.txt
*.pdf
*.zip
*.tar
*.jpeg
*.jpg
MANIFEST

*.pyc

basic.egg-info/
build/

.gitmodules
sub-mod/

*~


dist/

